/**
 * Colors
 * Purple: #730046
 * Green: #BFBB11
 * Yellow: #FFC200
 * Orange: #E88801
 * Red: #C93C00
 * Cream: #D6D1C1
 **/

body {
  background-color: #D6D1C1;
}

#mainDisplay, #header {
  border-radius: 20px;
  width: 950px;
  height: 650px;
  margin: 10px auto;
  padding: 10px;
}

#info {
  margin-right: 0px;
  display: inline-block;
  background-color: white;
  width: 415px;
  height: 600px;
}

#header {
  background-image: url('../img/RedNoise.png');
  height: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0px;
}

body {
  padding-top: 0px;
  margin-top: 0px;
}

#canvas {
  display: inline-block;
  float: left;
}
