/**
 * Colors
 * Purple: #730046
 * Green: #BFBB11
 * Yellow: #FFC200
 * Orange: #E88801
 * Red: #C93C00
 **/

body {
  background-color: #C93C00;
}

#mainDisplay, #header {
  background-color: #888888;
  border-radius: 20px;
  width: 950px;
  height: 650px;
  margin: 10px auto;
  padding: 10px;
}

body {
  padding-top: 0px;
  margin-top: 0px;
}

#header {
  height: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0px;
}

#canvas {
  display: inline-block;
  float: left;
}
